{% extends 'base.html' %}

{% block title %}
    TeamPlan Sign Up
{% endblock title %}
{% block content %}
    <main>
        {% load static %}
        <img src="{% static '/images/teamplan.logo.png' %}" alt="My image" class="app_name">
        <div class="login-form">
            <h1>Sign up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
{% endblock content %}
