<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
</head> -->
<body>
    <main>
        <div>
            <h1>My Tasks</h1>

            <a href={% url "create_task" %}>Create a new task</a>

            <table>
                <thread>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thread>
                <tbody>

                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                    </tr>

                    <p>This project has no tasks</p>

                </tbody>
                </table>
        </div>
    </main>
</body>
</html>
