{% extends 'base.html' %}

{% block title %}
    Update TP Task
{% endblock title %}
{% block content %}
    <main>
        {% load static %}
        <img src="{% static '/images/teamplan.logo.png' %}" alt="My image" class="app_name">
        <div class="task-form">
            {% for project in projects %}
            <h1>{{ project.name }}</h1>
            {% endfor %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>

            </form>
        </div>
    </main>
{% endblock content %}
