{% extends 'base.html' %}

{% block title %}
    TP Project Details
{% endblock title %}
{% block content %}
    <main>
        {% load static %}
        <img src="{% static '/images/teamplan.logo.png' %}" alt="My image" class="app_name">
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            <h2>Tasks</h2>
            {% for project in project.project %}
            <a href="{% url "delete_project" projects.id %}">Delete Project</a>
            {% endfor %}
            <a href={% url "create_task" %}>Create a new task</a>
            <table>
                <thread>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                </thread>
                <tbody>
                    {% for task in project.tasks.all %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
