<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Title</title>
</head>
<body>
    <main>
        <div>

            {% for project in show_projects %}
            <a href="{% url 'show_project' %}">{{ project.name }}</a>
            <h1>{{ project.name }}</h1>

            <h2>Tasks</h2>
            <table>
                <thread>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thread>
                <tbody>

                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.assignee }}</td>
                        <td>{{ project.start_date }}</td>
                        <td>{{ project.due_date }}</td>
                        <td>{{ project.is_completed|yesno:"Yes,No" }}</td>
                    </tr>

                    <p>This project has no tasks</p>
            {% endfor %}
                </tbody>
                </table>
        </div>
    </main>
</body>
</html>
